ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.nav {
  float: left;
}

.nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
header {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
}
.nav a:hover {
  background-color: #111111;
}
.logo {
  padding-left: 20px;
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#main {
  background-image: url("../images/bg4.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  text-align: center;
  padding: 30px;
}
.image {
  width: 250px;
  height: 250px;
}
.link {
  background-color: #e14a25;
  text-decoration: none;
  color: white;
  padding: 5px;
  border-radius: 3px;
}
.link:hover {
  background-color: brown;
}
.grid-container {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: auto auto auto;
  padding: 10px;
  padding-bottom: 20px;
}

.grid-item {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  height: 250px;
}
footer {
  background-color: #324f8d;
  text-align: center;
  padding: 5px;
}
img {
  width: 300px;
  height: 200px;
}
h4 {
  margin-top: 0px;
}
.link2 {
  background-color: #e14a25;
  text-decoration: none;
  color: white;
  padding: 2px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: bold;
}
.link2:hover {
  background-color: brown;
}
.details {
  margin: 10px;
}
.mark {
  color: #e14a25;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 15px;
  text-align: left;
}
