.navbar-inverse .navbar-brand {
    color:#FFFFFF;
}
.navbar-brand {
	font-size: 22px;
	font-weight: bold;

}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color:#FF0000;
    background-color: #080808;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
.reg-form{
	width:30%;
	margin:auto;
}