table {
  width: 100%;
  margin: auto;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  padding: 5px;
  text-align: left;
  border: 1px solid #a6a6a6;
  border-collapse: collapse;
}
